<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>title</key>
        <string>先离场后缴费</string>
        <key>image</key>
        <string>e6b3</string>
        <key>iconId</key>
        <string>34</string>
        <key>controller</key>
        <string>BSStopCarNumberVC</string>
        <key>cityType</key>
        <string>杭州|</string>
    </dict>
    <dict>
        <key>title</key>
        <string>人大监督</string>
        <key>image</key>
        <string>e930</string>
        <key>iconId</key>
        <string>45</string>
        <key>controller</key>
        <string>BSnpcMemberViewController</string>
        <key>cityType</key>
        <string>杭州|</string>
    </dict>
    <dict>
          <key>title</key>
          <string>电子发票</string>
          <key>image</key>
          <string>e930</string>
          <key>iconId</key>
          <string>46</string>
          <key>controller</key>
          <string>BSUserEVC</string>
          <key>cityType</key>
          <string>杭州|</string>
      </dict>
    <dict>
        <key>title</key>
        <string>家门口垂钓点</string>
        <key>image</key>
        <string>e6b3</string>
        <key>iconId</key>
        <string>42</string>
        <key>controller</key>
        <string>BSAnglingTournamentVC</string>
        <key>cityType</key>
        <string>杭州|</string>
    </dict>
    <dict>
        <key>title</key>
        <string>欠费补交</string>
        <key>image</key>
        <string>ee0e</string>
        <key>iconId</key>
        <string>40</string>
        <key>controller</key>
        <string>BSUserExplainViewController</string>
        <key>cityType</key>
        <string>杭州|</string>
    </dict>
    <dict>
        <key>title</key>
        <string>我来爆料</string>
        <key>image</key>
        <string>e930</string>
        <key>iconId</key>
        <string>1</string>
        <key>controller</key>
        <string>BSCaptureViewController</string>
        <key>cityType</key>
        <string>杭州|</string>
    </dict>
    <dict>
        <key>title</key>
        <string>违停罚缴</string>
        <key>image</key>
        <string>e931</string>
        <key>iconId</key>
        <string>13</string>
        <key>controller</key>
        <string>BSWeiTingMainViewController</string>
        <key>cityType</key>
        <string>杭州|</string>
    </dict>
    <dict>
        <key>title</key>
        <string>找找车位</string>
        <key>image</key>
        <string>e858</string>
        <key>iconId</key>
        <string>7</string>
        <key>controller</key>
        <string>BSParkViewController_iphone</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>天天骑车</string>
        <key>image</key>
        <string>e84d</string>
        <key>iconId</key>
        <string>8</string>
        <key>controller</key>
        <string>BSBikeViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>找找公厕</string>
        <key>image</key>
        <string>e857</string>
        <key>iconId</key>
        <string>9</string>
        <key>controller</key>
        <string>BSGongCeViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>便民服务</string>
        <key>image</key>
        <string>e846</string>
        <key>iconId</key>
        <string>15</string>
        <key>controller</key>
        <string>BSBianMinViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>机构分布</string>
        <key>image</key>
        <string>e847</string>
        <key>iconId</key>
        <string>16</string>
        <key>controller</key>
        <string>BSJiGouViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>城管驿站</string>
        <key>image</key>
        <string>ee0d</string>
        <key>iconId</key>
        <string>33</string>
        <key>controller</key>
        <string>BSCityManagerViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>每日一题</string>
        <key>image</key>
        <string>e926</string>
        <key>iconId</key>
        <string>3</string>
        <key>controller</key>
        <string>BSQuizViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>消息公告</string>
        <key>image</key>
        <string>e856</string>
        <key>iconId</key>
        <string>17</string>
        <key>controller</key>
        <string>BSNoticeViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>城管动态</string>
        <key>image</key>
        <string>e845</string>
        <key>iconId</key>
        <string>18</string>
        <key>controller</key>
        <string>BSDongTaiViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>人行道违停</string>
        <key>image</key>
        <string>e932</string>
        <key>iconId</key>
        <string>12</string>
        <key>controller</key>
        <string>BSPeccancyViewControllerJ</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>停车补缴费</string>
        <key>image</key>
        <string>e84c</string>
        <key>iconId</key>
        <string>10</string>
        <key>controller</key>
        <string>BSArrearageViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>停车包月缴费</string>
        <key>image</key>
        <string>E659</string>
        <key>iconId</key>
        <string>31</string>
        <key>controller</key>
        <string>BSParkingFeeMonthVC</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>审批查询</string>
        <key>image</key>
        <string>e924</string>
        <key>iconId</key>
        <string>23</string>
        <key>controller</key>
        <string>BSAppovaViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>停车缴费</string>
        <key>image</key>
        <string>e852</string>
        <key>iconId</key>
        <string>11</string>
        <key>controller</key>
        <string>BSPayScanViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>城市河道水质</string>
        <key>image</key>
        <string>e927</string>
        <key>iconId</key>
        <string>19</string>
        <key>controller</key>
        <string>BSWaterQualityViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>犬类服务</string>
        <key>image</key>
        <string>e929</string>
        <key>iconId</key>
        <string>25</string>
        <key>controller</key>
        <string>BSPetViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>个人中心</string>
        <key>image</key>
        <string>e844</string>
        <key>iconId</key>
        <string>28</string>
        <key>controller</key>
        <string>BSUserCenterViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>典型案例</string>
        <key>image</key>
        <string>e866</string>
        <key>iconId</key>
        <string>2</string>
        <key>controller</key>
        <string>BSDianXingViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>专业处置</string>
        <key>image</key>
        <string>e844</string>
        <key>iconId</key>
        <string>4</string>
        <key>controller</key>
        <string>BSChuZhiViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>专业采集</string>
        <key>image</key>
        <string>e844</string>
        <key>icon</key>
        <string>5</string>
        <key>controller</key>
        <string>BSCaiJiViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>企业节水</string>
        <key>image</key>
        <string>e86b</string>
        <key>iconId</key>
        <string>6</string>
        <key>controller</key>
        <string>BSWaterSavingViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>未知</string>
        <key>image</key>
        <string>e866</string>
        <key>iconId</key>
        <string>14</string>
        <key>controller</key>
        <string>BSLawsAndRegulationsViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>法律法规</string>
        <key>image</key>
        <string>e866</string>
        <key>iconId</key>
        <string>20</string>
        <key>controller</key>
        <string>BSLawsAndRegulationsViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>便民热线</string>
        <key>image</key>
        <string>e6a4</string>
        <key>iconId</key>
        <string>21</string>
        <key>controller</key>
        <string>BSBianMinReXianViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>信息发布</string>
        <key>image</key>
        <string>e837</string>
        <key>iconId</key>
        <string>22</string>
        <key>controller</key>
        <string>BSXinXiFaBuViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>审批事项</string>
        <key>image</key>
        <string>e86d</string>
        <key>iconId</key>
        <string>24</string>
        <key>controller</key>
        <string>BSShenPiBanShiViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>市民投票</string>
        <key>image</key>
        <string>e737</string>
        <key>iconId</key>
        <string>26</string>
        <key>controller</key>
        <string>BSVotingViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>问卷调查</string>
        <key>image</key>
        <string>e837</string>
        <key>iconId</key>
        <string>27</string>
        <key>controller</key>
        <string>BSSurveyViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>全选</string>
        <key>image</key>
        <string>e843</string>
        <key>iconId</key>
        <string>30</string>
        <key>controller</key>
        <string>BSMoreViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>停车诱导</string>
        <key>image</key>
        <string>e843</string>
        <key>iconId</key>
        <string>32</string>
        <key>controller</key>
        <string>BSMapSearchVC</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>专业应用</string>
        <key>image</key>
        <string>e86b</string>
        <key>iconId</key>
        <string>5</string>
        <key>controller</key>
        <string>BSCityServiceViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>便捷泊车</string>
        <key>image</key>
        <string>E659</string>
        <key>iconId</key>
        <string>32</string>
        <key>controller</key>
        <string>BSMapSearchVC</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>挪车提醒</string> 
        <key>image</key>
        <string>e7e8</string>
        <key>iconId</key>
        <string>16</string>
        <key>controller</key>
        <string>BSNuoCheViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>更多</string>
        <key>image</key>
        <string>e933</string>
        <key>iconId</key>
        <string>29</string>
        <key>controller</key>
        <string>BSMoreViewController</string>
        <key>cityType</key>
        <string></string>
    </dict>
</array>
</plist>
