<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>我来爆料</string>
            <key>image</key>
            <string>e930</string>
            <key>icon</key>
            <string>1</string>
            <key>controller</key>
            <string>BSCaptureViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>违停罚缴</string>
            <key>image</key>
            <string>e931</string>
            <key>icon</key>
            <string>3</string>
            <key>controller</key>
            <string>BSWeiTingMainViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>找找车位</string>
            <key>image</key>
            <string>e858</string>
            <key>icon</key>
            <string>2</string>
            <key>controller</key>
            <string>BSParkViewController_iphone</string>
        </dict>
        <dict>
            <key>title</key>
            <string>天天骑车</string>
            <key>image</key>
            <string>e84d</string>
            <key>icon</key>
            <string>17</string>
            <key>controller</key>
            <string>BSBikeViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>找找公厕</string>
            <key>image</key>
            <string>e857</string>
            <key>icon</key>
            <string>18</string>
            <key>controller</key>
            <string>BSGongCeViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>便民服务</string>
            <key>image</key>
            <string>e846</string>
            <key>icon</key>
            <string>15</string>
            <key>controller</key>
            <string>BSBianMinViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>机构分布</string>
            <key>image</key>
            <string>e847</string>
            <key>icon</key>
            <string>19</string>
            <key>controller</key>
            <string>BSJiGouViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>每日一题</string>
            <key>image</key>
            <string>e926</string>
            <key>icon</key>
            <string>7</string>
            <key>controller</key>
            <string>BSQuizViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>消息公告</string>
            <key>image</key>
            <string>e856</string>
            <key>icon</key>
            <string>8</string>
            <key>controller</key>
            <string>BSNoticeViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>城管动态</string>
            <key>image</key>
            <string>e845</string>
            <key>icon</key>
            <string>9</string>
            <key>controller</key>
            <string>BSDongTaiViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>人行道违停</string>
            <key>image</key>
            <string>e932</string>
            <key>icon</key>
            <string>10</string>
            <key>controller</key>
            <string>BSPeccancyViewControllerJ</string>
        </dict>
        <dict>
            <key>title</key>
            <string>审批查询</string>
            <key>image</key>
            <string>e924</string>
            <key>icon</key>
            <string>12</string>
            <key>controller</key>
            <string>BSAppovaViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>挪车提醒</string>
            <key>image</key>
            <string>e7e8</string>
            <key>icon</key>
            <string>16</string>
            <key>controller</key>
            <string>BSNuoCheViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>停车补缴费</string>
            <key>image</key>
            <string>e84c</string>
            <key>icon</key>
            <string>11</string>
            <key>controller</key>
            <string>BSArrearageViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>专业应用</string>
            <key>image</key>
            <string>e86b</string>
            <key>icon</key>
            <string>5</string>
            <key>controller</key>
            <string>BSCityServiceViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>典型案例</string>
            <key>image</key>
            <string>e866</string>
            <key>icon</key>
            <string>22</string>
            <key>controller</key>
            <string>BSDianXingViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>法律法规</string>
            <key>image</key>
            <string>e866</string>
            <key>icon</key>
            <string>22</string>
            <key>controller</key>
            <string>BSLawsAndRegulationsViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>审批事项</string>
            <key>image</key>
            <string>e86d</string>
            <key>icon</key>
            <string>23</string>
            <key>controller</key>
            <string>BSShenPiBanShiViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>便民热线</string>
            <key>image</key>
            <string>e6a4</string>
            <key>icon</key>
            <string>20</string>
            <key>controller</key>
            <string>BSBianMinReXianViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>信息发布</string>
            <key>image</key>
            <string>e837</string>
            <key>icon</key>
            <string>21</string>
            <key>controller</key>
            <string>BSXinXiFaBuViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>问卷调查</string>
            <key>image</key>
            <string>e837</string>
            <key>icon</key>
            <string>21</string>
            <key>controller</key>
            <string>BSSurveyViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>企业节水</string>
            <key>image</key>
            <string>e86b</string>
            <key>icon</key>
            <string>4</string>
            <key>controller</key>
            <string>BSWaterSavingViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>市民投票</string>
            <key>image</key>
            <string>e737</string>
            <key>icon</key>
            <string>5</string>
            <key>controller</key>
            <string>BSVotingViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>个人中心</string>
            <key>image</key>
            <string>e844</string>
            <key>icon</key>
            <string>24</string>
            <key>controller</key>
            <string>BSUserCenterViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>专业处置</string>
            <key>image</key>
            <string>e844</string>
            <key>icon</key>
            <string>24</string>
            <key>controller</key>
            <string>BSChuZhiViewController</string>
        </dict>
        <dict>
            <key>title</key>
            <string>专业采集</string>
            <key>image</key>
            <string>e844</string>
            <key>icon</key>
            <string>24</string>
            <key>controller</key>
            <string>BSCaiJiViewController</string>
        </dict>
<!--        <dict>-->
<!--            <key>title</key>-->
<!--            <string>便捷泊车</string>-->
<!--            <key>image</key>-->
<!--            <string>E659</string>-->
<!--            <key>iconId</key>-->
<!--            <string>32</string>-->
<!--            <key>controller</key>-->
<!--            <string>BSMapSearchVC</string>-->
<!--        </dict>-->
        <dict>
            <key>title</key>
            <string>更多</string>
            <key>image</key>
            <string>e933</string>
            <key>icon</key>
            <string>25</string>
            <key>controller</key>
            <string>BSMoreViewController</string>
        </dict>
    </array>
</plist>
