<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>违停罚缴</string>
		<key>image</key>
		<string>e830</string>
		<key>icon</key>
		<string>3</string>
		<key>controller</key>
		<string>BSWeiTingMainViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>找找车位</string>
		<key>image</key>
		<string>e858</string>
		<key>icon</key>
		<string>2</string>
		<key>controller</key>
		<string>BSParkViewController_iphone</string>
	</dict>
	<dict>
		<key>title</key>
		<string>天天骑车</string>
		<key>image</key>
		<string>e84d</string>
		<key>icon</key>
		<string>17</string>
		<key>controller</key>
		<string>BSBikeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>找找公厕</string>
		<key>image</key>
		<string>e857</string>
		<key>icon</key>
		<string>18</string>
		<key>controller</key>
		<string>BSGongCeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>便民服务</string>
		<key>image</key>
		<string>e846</string>
		<key>icon</key>
		<string>15</string>
		<key>controller</key>
		<string>BSBianMinViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>机构分布</string>
		<key>image</key>
		<string>e847</string>
		<key>icon</key>
		<string>19</string>
		<key>controller</key>
		<string>BSJiGouViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>每日一题</string>
		<key>image</key>
		<string>e84a</string>
		<key>icon</key>
		<string>7</string>
		<key>controller</key>
		<string>BSQuizViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>消息公告</string>
		<key>image</key>
		<string>e856</string>
		<key>icon</key>
		<string>8</string>
		<key>controller</key>
		<string>BSNoticeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>城管动态</string>
		<key>image</key>
		<string>e845</string>
		<key>icon</key>
		<string>9</string>
		<key>controller</key>
		<string>BSDongTaiViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>人行道违停</string>
		<key>image</key>
		<string>e848</string>
		<key>icon</key>
		<string>10</string>
		<key>controller</key>
		<string>BSPeccancyViewControllerJ</string>
	</dict>
	<dict>
		<key>title</key>
		<string>信访热线</string>
		<key>image</key>
		<string>e6a4</string>
		<key>icon</key>
		<string>20</string>
		<key>controller</key>
		<string>BSHotLineViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>区长信箱</string>
		<key>image</key>
		<string>e837</string>
		<key>icon</key>
		<string>21</string>
		<key>controller</key>
		<string>BSLetterTelViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>公交查询</string>
		<key>image</key>
		<string>e837</string>
		<key>icon</key>
		<string>21</string>
		<key>controller</key>
		<string>BSBusQueryViewController</string>
	</dict>
</array>
</plist>
